<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PortfolioDemoSuite">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="LoginTestSuite">
        <packages>
            <package name="jperkeydemo.Tests.LoginTests"/>
        </packages>
    </test>
</suite>
