<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PortfolioDemoSuite">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="LoginTests">
        <classes>
            <class name="jperkeydemo.Tests.LoginTest"/>
        </classes>
    </test>
</suite>
